
.container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .puzzle-container {
    display: inline-block;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 0 10px; /* Espaciado adicional si es necesario */
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
  }
  .container-button {
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 20px;
    padding-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 0 10px; /* Espaciado adicional si es necesario */
    text-align: center;
    font-size: 16px;
    border-radius: 5px;

  }

  /* Estilos para el botón */
.reset-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilos para el botón desactivado */
.reset-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
